<div class="container">
    <h2>Cadastrar Pessoa</h2>
    <form (submit)="savePerson()">
      <label>Nome:</label>
      <input type="text" [(ngModel)]="person.name" name="name" required />
  
      <label>CEP:</label>
      <input type="text" [(ngModel)]="person.cep" name="cep" required />
  
      <label>Endereço:</label>
      <input type="text" [(ngModel)]="person.address" name="address" required />
  
      <label>Cidade:</label>
      <input type="text" [(ngModel)]="person.city" name="city" required />
  
      <label>UF:</label>
      <input type="text" [(ngModel)]="person.uf" name="uf" required />
  
      <button type="submit">Salvar</button>
      <button type="button" (click)="router.navigate(['/'])">Cancelar</button>
    </form>
  </div>
  