<form [formGroup]="personForm">
    <label>Nome:</label>
    <input type="text" formControlName="nome" required />
  
    <label>CEP:</label>
    <input type="text" formControlName="cep" (blur)="buscarCep()" required />
  
    <label>Endereço:</label>
    <input type="text" formControlName="endereco" required />
  
    <label>Cidade:</label>
    <input type="text" formControlName="cidade" required />
  
    <label>UF:</label>
    <input type="text" formControlName="uf" required />
  
    <button type="submit">Salvar</button>
  </form>
  