<h2>Editar Pessoa</h2>

<form (ngSubmit)="updatePerson()">
  <label>Nome:</label>
  <input type="text" [(ngModel)]="person.name" name="name" required />

  <label>CEP:</label>
  <input type="text" [(ngModel)]="person.cep" name="cep" required />

  <label>Endereço:</label>
  <input type="text" [(ngModel)]="person.address" name="address" required />

  <label>Cidade:</label>
  <input type="text" [(ngModel)]="person.city" name="city" required />

  <label>UF:</label>
  <input type="text" [(ngModel)]="person.uf" name="uf" required />

  <label>Telefone:</label>
  <input type="text" [(ngModel)]="person.phone" name="phone" />

  <button type="submit">Salvar</button>
  <button type="button" (click)="router.navigate(['/list'])">Cancelar</button>
</form>
