<div class="container">
  
    <div class="hero-section">
      <h1>Bem-vindo ao Gerenciador de Pessoas</h1>
      <p>
        Aqui você pode cadastrar, editar e gerenciar contatos de maneira fácil e eficiente.
      </p>
      <div class="buttons">
        <button class="btn btn-primary" routerLink="/create">
          <i class="fa fa-user-plus"></i> Adicionar Pessoa
        </button>        
        <a class="btn secondary" routerLink="/list">
          <i class="fa fa-address-book"></i> Ver Contatos
        </a>
      </div>
    </div>

    <router-outlet></router-outlet>
  
  </div>
  