<button routerLink="/cadastrar">Nova Pessoa</button>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Endereço</th>
      <th>CEP</th>
      <th>Cidade</th>
      <th>UF</th>
      <th>Celular</th>
      <th>Ativo</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pessoa of pessoas">
      <td>{{ pessoa.id }}</td>
      <td>{{ pessoa.nome }}</td>
      <td>{{ pessoa.endereco }}</td>
      <td>{{ pessoa.cep }}</td>
      <td>{{ pessoa.cidade }}</td>
      <td>{{ pessoa.uf }}</td>
      <td>{{ pessoa.celular }}</td>
      <td>{{ pessoa.ativo ? 'Sim' : 'Não' }}</td>
      <td>
        <button (click)="editarPessoa(pessoa.id)">Editar</button>
        <button (click)="excluirPessoa(pessoa.id)">Excluir</button>
      </td>
    </tr>
  </tbody>
</table>
