body {
    background-color: #f8f9fa;
  }
  
  .card {
    border-radius: 10px;
  }
  
  .table th {
    text-align: center;
  }
  
  .table td {
    vertical-align: middle;
    text-align: center;
  }
  
  button {
    white-space: nowrap;
  }
  