// Background estilizado
.background {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  // Container do formulário
  .form-container {
    width: 100%;
    max-width: 400px;
    background: #fff;
    padding: 25px;
    border-radius: 15px; // Bordas arredondadas
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
  
    h2 {
      color: #333;
      margin-bottom: 20px;
    }
  
    .form-group {
      text-align: left;
      margin-bottom: 15px;
  
      label {
        font-weight: bold;
        color: #444;
        display: block;
        margin-bottom: 5px;
      }
  
      input {
        width: 100%;
        padding: 12px;
        border-radius: 10px; // Inputs arredondados
        border: 1px solid #ccc;
        font-size: 14px;
        background: #f9f9f9;
        color: #000; // Define a cor do texto como preto
        transition: border 0.3s ease-in-out;
  
        &::placeholder {
          color: #666; // Cinza para diferenciar do texto real
        }
  
        &:focus {
          outline: none;
        }
      }
    }
  
    // Estilização do botão de salvar
    .button-group {
      display: flex;
      justify-content: space-between;
      margin-top: 15px;
    }
      .btn {
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
      }
} 